services:
  jadidlarweb:
    build: .
    command: sh -c "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/Jadidlar
      - /srv/jadidlar/media:/Jadidlar/media
      - /srv/jadidlar/static:/Jadidlar/staticfiles
    depends_on:
      - jadid_db
    networks:
      - traefik-network
      - local-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jadidlarweb.rule=Host(`backend.jadidlar.uz`)"
      - "traefik.http.routers.jadidlarweb.service=jadidlarweb"
      - "traefik.http.routers.jadidlarweb.entrypoints=websecure"
      - "traefik.http.services.jadidlarweb.loadbalancer.server.port=8000"
      - "traefik.http.routers.jadidlarweb.tls=true"
      - "traefik.http.routers.jadidlarweb.tls.certresolver=letsencrypt"
      - "traefik.http.services.jadidlarweb.loadbalancer.passhostheader=true"
      - "traefik.http.routers.jadidlarweb.middlewares=compresstraefik"
      - "traefik.http.middlewares.compresstraefik.compress=true"
      - "traefik.docker.network=traefik-network"

  jadid_db:
    image: postgres:18.1
    environment:
      POSTGRES_DB: jadid_db
      POSTGRES_USER: jadidlar_user
      POSTGRES_PASSWORD: jadidlar_password
    volumes:
      - /srv/jadidlar/postgres:/var/lib/postgresql/data
    networks:
      - local-net

networks:
  traefik-network:
    external: true
  local-net:
