on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    runs-on: [self-hosted, linux, docker]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Docker info
        run: docker info

      - name: Build image
        run: |
          docker compose -f docker-compose.yaml up --build -d --force-recreate
